<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
  <uses-permission android:name="android.permission.CAMERA" />

  <application
    android:allowBackup="false"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Mission"
    tools:targetApi="31">
    <meta-data
      android:name="com.google.mlkit.vision.DEPENDENCIES"
      android:value="barcode" />

    <activity
      android:name=".qrCode.QrCodeMainActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity" />
    <activity
      android:name=".figma.FigmaTwoActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity" />
    <activity
      android:name=".figma.FigmaOneActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity" />

    <activity
      android:name=".todo.AddActivity"
      android:exported="false"
      android:parentActivityName=".todo.TodoMainActivity" />

    <activity
      android:name=".todo.TodoMainActivity"
      android:exported="true"
      android:parentActivityName=".MainActivity">
      <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- QR 코드 스캔 시 앱 열기 -->
        <data
          android:host="todo"
          android:scheme="com.wjdaudtn.mission" />
      </intent-filter>
    </activity>
    <activity
      android:name=".recyclerView.ViewHolderTwo"
      android:exported="false"
      android:parentActivityName=".MainActivity" />
    <activity
      android:name=".figma.music.MusicActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity" />
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- QR 코드 스캔 시 앱 열기 -->
        <data
          android:host="open"
          android:scheme="com.wjdaudtn.mission" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".todo.AlarmReceiver"
      android:enabled="true"
      android:exported="false" />
  </application>

  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>